/* .container{
    background-color: blue;
}
[class*='col']{
    background-color: blueviolet;
    border: 1px solid red;
} */

.navbar{
    background-color: #592600;
}

.nav-link{
    color: #ffffff !important;
}

.navbar-brand img{
    width: 90px !important;
    height: 35px;
}